<div id="<%= dom_id recipe %>">
  <p>
    <strong>Dish:</strong>
    <%= recipe.dish %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= recipe.rank %>
  </p>

  <p>
    <strong>Favourite:</strong>
    <%= recipe.favourite %>
  </p>

</div>
